<div class="mb-2 text-end">
  <a class="btn btn-primary" routerLink="/users/new">Agregar Usuario</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Group</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.group?.name }}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="delete(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
