<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
      {{ editId ? 'Editar Usuario' : 'Agregar Usuario' }}
    </h6>
  </div>
  <div class="card-body">
    <form (ngSubmit)="submit()" class="mb-3">
      <div class="mb-2">
        <label class="form-label">Nombre de usuario</label>
        <input class="form-control" [(ngModel)]="dto.username" name="username" placeholder="Nombre de usuario" required
               [ngClass]="{ 'is-invalid': errors['username'] }">
        <div *ngIf="errors['username']" class="invalid-feedback">
          {{ errors['username'] }}
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="dto.password" name="password" placeholder="Contraseña" required
               [ngClass]="{ 'is-invalid': errors['password'] }">
        <div *ngIf="errors['password']" class="invalid-feedback">
          {{ errors['password'] }}
        </div>
      </div>
      <div class="mb-2">
        <label class="form-label">Grupo</label>
        <select class="form-select" [(ngModel)]="dto.groupId" name="groupId" required
                [ngClass]="{ 'is-invalid': errors['groupId'] }">
          <option value="" disabled selected>Seleccione un grupo</option>
          <option *ngFor="let g of groups" [ngValue]="g.id">{{ g.name }}</option>
        </select>
        <div *ngIf="errors['groupId']" class="invalid-feedback">
          {{ errors['groupId'] }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        {{ editId ? 'Actualizar Usuario' : 'Agregar Usuario' }}
      </button>
    </form>
  </div>
</div>
