<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Alumnos Inscritos</h6>
  </div>
  <div class="card-body">
    <form (ngSubmit)="addInscripcion()" class="row align-items-end mb-3">
      <input type="hidden" [value]="cursoMateriaId" name="cursoMateriaId">
      <div class="col-md-8 mb-2 position-relative">
        <label class="form-label">Alumno</label>
        <input class="form-control" [(ngModel)]="searchText" (input)="onSearchChange()" name="alumnoSearch" list="alumnosList" placeholder="Buscar alumno">
        <datalist id="alumnosList">
          <option *ngFor="let a of filteredAlumnos" (click)="selectAlumno(a)" [value]="a.nombre + ' ' + a.apellido"></option>
        </datalist>
      </div>
      <div class="col-md-4 mb-2">
        <button type="submit" class="btn btn-primary w-100">Agregar</button>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-bordered table-striped" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Alumno</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ins of inscripciones">
            <td>{{ ins.alumno.nombre }} {{ ins.alumno.apellido }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
