<header class="bg-primary text-white text-center py-3">
  <h1 class="m-0">{{ title }}</h1>
</header>

<main class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <app-user-form (refresh)="userList.getUsers()"></app-user-form>
      <app-user-list #userList></app-user-list>
    </div>
    <div class="col-md-6">
      <app-group-form (refresh)="groupList.getGroups()"></app-group-form>
      <app-group-list #groupList></app-group-list>
    </div>
  </div>
</main>

<footer class="bg-light text-center py-3">
  Desarrollado 2025
</footer>
