<div id="wrapper">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
      <div class="sidebar-brand-text mx-3">{{ title }}</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGestionUsuarios" aria-expanded="false" aria-controls="collapseGestionUsuarios">
        <i class="fas fa-user-shield"></i>
        <span>Gestión de Usuarios</span>
      </a>
      <div id="collapseGestionUsuarios" class="collapse" data-bs-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLink="/users">Usuarios</a>
          <a class="collapse-item" routerLink="/groups">Grupos</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGestionAcademica" aria-expanded="false" aria-controls="collapseGestionAcademica">
        <i class="fas fa-university"></i>
        <span>Gestión Académica</span>
      </a>
      <div id="collapseGestionAcademica" class="collapse" data-bs-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLink="/carreras">Carreras</a>
          <a class="collapse-item" routerLink="/materias">Materias</a>
          <a class="collapse-item" routerLink="/cursos">Cursos</a>
          <a class="collapse-item" routerLink="/profesores">Profesores</a>
        </div>
      </div>
    </li>
    </ul>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>
        <span class="navbar-brand mb-0 h1">{{ title }}</span>
      </nav>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>
</div>
