<div class="mb-2 text-end">
  <a class="btn btn-primary" routerLink="/groups/new">Agregar Grupo</a>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Grupos</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups">
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td class="text-nowrap">
              <a class="btn btn-info btn-icon-split btn-sm me-1" [routerLink]="['/groups', group.id]">
                <span class="icon text-white-50"><i class="fas fa-edit"></i></span>
                <span class="text">Editar</span>
              </a>
              <button class="btn btn-danger btn-icon-split btn-sm" (click)="delete(group.id)">
                <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                <span class="text">Eliminar</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
